allow vendor_init proc:file write;
allow vendor_init proc_driver_audio:file write;
allow vendor_init proc_dirty:file write;
allow vendor_init proc_dirty_ratio:file write;
allow vendor_init proc_extra_free_kbytes:file write;
allow vendor_init property_data_file:dir search;
allow vendor_init rootfs:dir { add_name create setattr write };
