r_dir_file(wcnss_service, fac_file)

set_prop(wcnss_service, wifi_prop)

allow wcnss_service exfat:dir search;
allow wcnss_service exfat:file { getattr open read };
